body {
    font-family: verdana, sans-Serif;
    background-color: #eeccaa;
}
#kappaleet {
    border-collapse: collapse;
}
#kappaleet td, #kappaleet th {
    padding: 1em;
    background-color: linen;
    border: 1px solid grey;
}
#kappaleet tr:hover td {
    background-color: white; 
}