body {
    font-family: verdana, sans-Serif;
    background-color: #C9EDC0;
    margin-top: 0px;
    padding-top: 0px;
}
div {
    border: 1px solid grey;
    padding: 10px;
}
.header {
    padding: 20;
    background-color: #C9EDC0;
    top: 0;
    position: sticky;
}
#kappaleet {
    border-collapse: collapse;
}
#kappaleet th {
    padding: 1em;
    background-color: #5F8052;
    border: 1px solid grey;
}
#kappaleet td {
    padding: 1em;
    border: 1px solid grey;
}
#kappaleet tr:nth-child(even) {
    background-color: #86FF57;
}
#kappaleet tr:nth-child(odd) {
    background-color: #A4FF80;
}
#kappaleet tr:hover td {
    background-color: white; 
}